
*{
    margin: 2;
    padding: 2;
    box-sizing: border-box;
    font-family: italic 1.2em "Fira Sans", serif;
}
section{
    position: relative;
    widows: 100%;
    min-height: 100vh;
    background: rgb(69, 156, 173);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
section:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4e3648;
    clip-path:polygon(100% 0, 100% 50%, 100% 100%, 56% 100%, 100% 50%, 51% 0);
}
section .content{
    position: relative;
    padding: 100px 50px 100px 150px;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0.5s;
    opacity: 0;
}
section .content h2{
    color: rgba(255, 255, 255, 0.616);
    font-size: 5em;
    font-weight: 800;
}
section .content p{
    color:rgba(255, 255, 255, 0.616);
    font-size: 1.2em;
}
section .content h3{
    color: rgba(255, 255, 255, 0.616);
    font-size: 4em;
    font-weight: 800;
}
section .content a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background: #ff2562;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 700;
    letter-spacing: 2px;
}
section .imgBx{
    position: relative;
    padding: 0;
}
section .imgBx img{
    max-width: 500px;
    margin-right: 110px;
    max-height: 500px;
}
.sci{
    position: absolute;
    bottom: 75px;
    left: 150px;
    display: flex;
    opacity: 1;
}
.sci li{
    list-style: none;

}
.sci li a{
    text-decoration: none;
    color:rgb(153, 153, 153);
    margin-right: 30px;
}
.sci li a:hover{
    color: #fff;
}
.nav{
    position: absolute;
    top: 75px;
    left: 150px;
    display: flex;
    border-left: 5px solid #ff2562;
    padding-left: 20px;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;

}
.nav li{
    list-style: none;

}
.nav li a{
    text-decoration: none;
    color:#999;
    margin-right: 30px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
}
.nav li a.active,
.nav li a:hover{
    color:#ff2562;
}
@keyframes fade-in
{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes left-in
{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}